/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/* Better box model */

* {
    box-sizing: border-box;
}


/*----------------------------------------------------------------------*

	General Styles

*----------------------------------------------------------------------*/

body {
    background-color: #FEB6B6;

}

body {
    width: 100wh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, #FEB6B6, #FEB699, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 9s ease infinite;
    -moz-animation: Gradient 9s ease infinite;
    animation: Gradient 15s ease infinite;
}




.background {
    position: absolute;
    align-content: center;
    margin-left: 150px;
    z-index: -2;
    background-repeat: repeat-y;
}

.ivory_tile {
    position: absolute;
    z-index: -12;
    top: 712px;
    left: 0px;
    height: 300px;
    width: 100vw;
    background-image: url(../img/tile.png);
    background-repeat: repeat-x;



}

.window {
    position: absolute;
    align-content: center;
    margin-left: 111px;
    z-index: -1;

}

.cloud {
    position: absolute;

}

.cloud2 {
    position: absolute;
    top: 220px;
    left: 20px;
}

.cloud3 {
    position: absolute;
    right: 220px;
    top: 300px;

}


.firefighter_1 {

    position: absolute;
    margin-top: 650px;
    z-index: 2;
    margin-left: 450px;
    transition: all .6s ease-in-out;
}

.firefighter_1:hover {
    margin-top: 620px;
}

.firefighter_2 {

    position: absolute;
    margin-top: 510px;
    margin-left: 470px;
    transition: all .8s ease-in-out;
}

.firefighter_2:hover {
    margin-top: 410px;
}

.lettering {
    position: absolute;
    align-content: center;
    margin-top: 90px;
    margin-left: 250px;

}

.lettering_glow {
    position: absolute;
    z-index: 12;
    margin-top: 22px;
    margin-left: 181px;
    animation: fadeIn 2s infinite alternate;
}

.bird {
    position: absolute;
    margin-left: 50px;
    top: 90px;
    z-index: -11;
}


.top_smoke {
    position: absolute;
    margin-left: 395px;
    margin-top: 56px;

}

.smoke_ring {
    position: absolute;
    margin-left: 340px;
    margin-top: 540px;
}

.smoke_ring2 {
    position: absolute;
    margin-left: 330px;
    margin-top: 520px;
}

.smoke_ring3 {
    position: absolute;
    margin-left: 320px;
    margin-top: 500px;
}

.smoke_ring4 {
    position: absolute;
    margin-left: 315px;
    margin-top: 480px;
}

.smoke_ring5 {
    position: absolute;
    margin-left: 315px;
    margin-top: 450px;
}

.chimney_1 {
    position: absolute;
    margin-left: 479px;
    margin-top: 100px;


}

.chimney_2 {
    position: absolute;
    margin-left: 500px;
    margin-top: 70px;
}

.chimney_3 {
    position: absolute;
    margin-left: 505px;
    margin-top: 75px;

}

.top_window {
    position: absolute;
    margin-left: 320px;
    margin-top: 269px;


}

.top_window2 {
    position: absolute;
    margin-left: 295px;
    margin-top: 260px;
}

.side_smoke {
    position: absolute;
    margin-left: 418px;
    margin-top: 295px;
}

.side_smoke2 {
    position: absolute;
    margin-left: 490px;
    margin-top: 185px;
}

.side_smoke3 {
    position: absolute;
    margin-left: 450px;
    margin-top: 300px;
}


.lower_1 {
    position: absolute;
    margin-left: 240px;
    margin-top: 655px
}

.lower_2 {
    position: absolute;
    margin-left: 250px;
    margin-top: 645px;
}

.lower_3 {
    position: absolute;
    margin-left: 230px;
    margin-top: 600px;
}


.smokey {
    position: absolute;
    margin-left: 415px;
    margin-top: 415px;


}

.smokey_2 {
    position: absolute;
    margin-left: 425px;
    margin-top: 439px;


}

.smokee {
    position: absolute;
    margin-left: 240px;
    margin-top: 410px;
}

.smokee_2 {
    position: absolute;
    margin-left: 245px;
    margin-top: 408px;
}


.smoke_1 {
    position: absolute;
    margin-left: 245px;
    margin-top: 610px;

}

.smoke_2 {
    position: absolute;
    margin-left: 245px;
    margin-top: 605px;
}

.smoke_3 {
    position: absolute;
    margin-left: 245px;
    margin-top: 585px;
}

.smoke_4 {
    position: absolute;
    margin-left: 245px;
    margin-top: 575px;
}

.lettering:hover {
    animation: shake 3s infinite linear;
}




.container {
    width: 800px;
    margin: 50px auto;
}



/*----------------------------------------------------------------------*

	Responsive Styles




*----------------------------------------------------------------------*/

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/*smoke*/

.top_smoke {
    animation: disappear 2s infinite linear;
    animation: disappear 5s infinite linear;
}


@-webkit-keyframes disappear {
    0% {
        transform: scale(0.2) translate(0, 0)
    }
    10% {
        opacity: 1;
        transform: scale(0.2) translate(0, -5px)
    }
    100% {
        opacity: 0;
        transform: scale(1) translate(-20px, -130px)
    }
}

}

.side_smoke2 {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;
}

.side_smoke3 {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;

}

.side_smoke {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;
}


.smoke_ring {
    animation: disappear 3s infinite linear;
    animation: disappear 3s infinite linear;

}


.smoke_ring2 {
    animation: disappear 4s infinite linear;
    animation: disappear 4s infinite linear;
}

.smoke_ring3 {
    animation: disappear 5s infinite linear;
    animation: disappear 4s infinite linear;
}

.smoke_ring4 {
    animation: disappear 0s infinite linear;
    animation: disappear 5s infinite linear;

}

.smoke_ring5 {
    animation: disappear 6s infinite linear;
    animation: disappear 6s infinite linear;
}

.smokee {
    animation: disappear 1s infinite linear;
    animation: disappear 2s infinite linear;

}

.smokee_2 {

    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;

}

.lower_1 {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;

}

.lower_2 {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;
}

.lower_3 {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;
}

.top_window {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;

}

.top_window2 {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;

}

.chimney_1 {
    animation: disappear 3s infinite linear;
    animation: disappear 3s infinite linear;

}

.chimney_2 {
    animation: disappear 4s infinite linear;
    animation: disappear 4s infinite linear;
}

.chimney_3 {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;
}

.smoke_1 {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;

}

.smoke_2 {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;
}

.smoke_4 {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;

}

.smokey {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;
}

.smokey_2 {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;
}

.smoke_3 {
    animation: disappear 2s infinite linear;
    animation: disappear 4s infinite linear;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

/* Apply these styles to all browser windows less than 800px */

@media screen and (max-width: 800px) {

    .container {
        width: 90%;
    }

}






/*----------------------------------------------------------------------*

	Miscellaneous

*----------------------------------------------------------------------*/

/* Forces a box filled with floated elements to wrap around child elements */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
